<footer id="contact" class="py-5 shadow-lg">
  <div class="container d-flex justify-content-center gap-5">
    <div class="left-section h-100 d-flex flex-column gap-5">
      <a class="logo" href="#">{{ fullName }}</a>
      <p class="copyrights">&copy; Copyrights Reserved</p>
    </div>
    <div class="right-section d-flex flex-start gap-5">
      <ul class="left">
        <li><i class="bx bxl-gmail bx-md"></i> moamen.hamed33322@gmail.com</li>
        <li><i class="bx bxs-phone-call bx-md"></i> 01286509058</li>
      </ul>

      <ul>
        <li>
          <a href=""><i class="bx bxl-twitter bx-md"></i></a>
        </li>
        <li>
          <a href=""><i class="bx bxl-facebook bx-md"></i></a>
        </li>
        <li>
          <a href=""><i class="bx bxl-linkedin bx-md"></i></a>
        </li>
        <li>
          <a href=""><i class="bx bxl-instagram bx-md"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
