.logo {
  font-size: 1.8rem;
}

.left-section p {
  font-size: 0.8rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  color: black;
}
