<section id="about" class="py-5">
  <div class="container">
    <div class="section-title d-flex flex-column align-items-center gap-5">
      <span class="title-header fw-bold rounded-pill">About Me</span>
      <h2 class="fw-bold shadow-lg rounded-pill">My Goals</h2>
    </div>
    <div class="about-me d-flex flex-column align-items-center gap-5">
      <div class="bio d-flex flex-column gap-4">
        <h3>About Me</h3>
        <p>
          Front-End Web Developer with High Vision and Forward-Thinking.
          Innovative use of Technology, Effective Problem Solving Skills,
          Outstanding Interpersonal Skills with ability to work independently as
          well as Within a team environment
        </p>
      </div>
      <a
        class="download-cv d-flex align-items-center"
        href="assets/MoamenHamedCv.pdf"
        download="MoamenHamedCv.pdf"
        >Download Resume <i class="bx bx-download bx-md ms-3"></i
      ></a>
    </div>
  </div>
</section>
