.card {
  border: none;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  min-height: 450px;
}
.card figure {
  border-radius: 15px;
  overflow: hidden;
}
.card p {
  text-align: center;
}
.card h4 {
  min-height: 80px;
}
