<section id="portfolio" class="py-5">
  <div class="container">
    <div class="section-title d-flex flex-column align-items-center gap-5">
      <span class="title-header fw-bold rounded-pill">Portfolio</span>
      <h2 class="fw-bold shadow-lg rounded-pill">Check My Projects</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card d-flex flex-column align-items-center gap-3 shadow-lg">
          <figure>
            <img src="assets/imgs/portfolio 1.jpg" alt="" />
          </figure>
          <h4>Moon Light</h4>
          <p>OnScroll Effect Landing Page</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card d-flex flex-column align-items-center gap-3 shadow-lg">
          <figure>
            <img src="assets/imgs/portfolio 2.jpg" alt="" />
          </figure>
          <h4>Leon</h4>
          <p>Simble Landing Page</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card d-flex flex-column align-items-center gap-3 shadow-lg">
          <figure>
            <img src="assets/imgs/portfolio 3.jpg" alt="" />
          </figure>
          <h4>StarBucks Clone</h4>
          <p>StarBucks InterFace Site</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card d-flex flex-column align-items-center gap-3 shadow-lg">
          <figure>
            <img src="assets/imgs/portfolio 4.jpg" alt="" />
          </figure>
          <h4>YouTube Clone</h4>
          <p>Emulating Home Page of YouTube Site</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card d-flex flex-column align-items-center gap-3 shadow-lg">
          <figure>
            <img src="assets/imgs/portfolio 5.jpg" alt="" />
          </figure>
          <h4>Twitter Clone</h4>
          <p>Emulating Timeline at Twitter</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card d-flex flex-column align-items-center gap-3 shadow-lg">
          <figure>
            <img src="assets/imgs/portfolio 6.jpg" alt="" />
          </figure>
          <h4>Responsive Landing Page</h4>
          <p>Responsive Landing Page Compatible With Any Screen</p>
        </div>
      </div>
    </div>
  </div>
</section>
